.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

div {
  border-style: solid;
  border: rgb(80, 21, 136);
  border-width: 2px;

}

body {
  background-color: rgb(200, 199, 199);
}